@font-face {
    font-family: "EB Garamond";
    font-style: normal;
    src: url(garamond-limited/EBGaramond-VariableFont_wght.woff2) format("woff2");
}

body {
    max-width: 720px;
    margin: auto;
    margin-top: 80px;
    padding: 32px;
    font-family: "EB Garamond", serif;
    background-color: #fafafa;
    color: #444444;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0px;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0px;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 135%;
}

section {
    margin-top: 80px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: #2195b5;
    transition: 0.15s;
    -webkit-transition: color 0.15s ease-in;
}

a:hover {
    color: #79b3c3;
    transition: 0.15s;
}

code {
    background-color: rgb(225, 224, 224);
    font-size: 1.3rem;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    height: 4px;
    background-color: #444444;
}