@font-face {
    font-family: "EB Garamond", serif;
    font-style: normal;
    src: url(garamond-limited/EBGaramond-VariableFont_wght.woff2) format("woff2");
}

body {
    max-width: 720px;
    margin: auto;
    padding: 32px;
    font-family: "EB Garamond", serif;
    background-color: #0A001C;
    color: #fafafa;
}

h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 2.0rem;
    font-weight: 500;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 135%;
}

a {
    text-decoration: none;
    color: #2195b5;
    transition: 0.15s;
    -webkit-transition: color 0.15s ease-in;
}

a:hover {
    color: #84d5eb;
    transition: 0.15s;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    height: 4px;
    background-color: #fafafa;
}

footer {
    font-size: 1.2rem;
    margin-bottom: 40px;
}